{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"eslint-config-prettier",
		"plugin:prettier/recommended"
	],
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["lib"],
				"extensions": [".ts", ".ts"]
			}
		}
	}
}
